# ignore node_modules and __pycache__ folders
node_modules/
__pycache__/

# ignore IDE files
.idea/
.vscode/

# ignore build artifacts
build/
dist/

# ignore git specific files
.git/
.gitignore

# ignore python cache
.cache/

# ignore logs
logs/