# ignore .idea and .vscode folders
.idea
.vscode

# ignore .pyc and __pycache__ files
*.pyc
__pycache__/

# ignore .gitignore itself
!.gitignore

# ignore any .env files
.env

# ignore any logs
logs/

# ignore any node_modules
node_modules/

# ignore any pycache
.pycache/

# ignore any dist
dist/